body {
    margin: 0;
    padding:0;
    background-color:#EAEAEA ;
    font-family: 'Open sans Condensed','Roboto',verdana,sans-serif;
    text-align: justify;
    font-size: 16px;
    
}
*{
    box-sizing: border-box;
}

.Container_Menu{
     
   position: fixed;
   top:0;
    
    width:100%;
   height:97px;
    transition:top 0.3s;
    background-color:#51DACF ;
   
}

.padding_bottom_Menu{

margin:125px;
}

.container_Menu .logo span{
     position:relative;
     font-weight: 250;
     left:0;
     top:40px;
    font-size: 38px;
    cursor:pointer;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Mitr', sans-serif;
    color:#096386;
   
}
.Container_Menu .logo span{
    width:95px;
    height:25px;
    padding:6px;
   margin-left:10px;
    left:0;
     top:40px;
    font-size: 18px;
    font-weight: 180;
    position:relative;
    background-color:aliceblue;
   
    outline:  6px solid;
    outline-color:#51DACF;
    opacity:.7;
    border: 7px solid #BF1363;
    cursor:pointer;
   
    /* border:2px solid #096386; #b200ff#0094ff; */
    }

    .Container_Menu .logo a{
        text-decoration: none;

    }
.Container_Menu figure img{

    width:125px;
    height:96px;
    position:absolute;
   float:left;
   clear:both;
   cursor:pointer;
   
   
   bottom:0;
  left:0px;
  right:0;
  

}

.Container_Menu .element_Menu nav ul{


    display :flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
   ;
    
}
.Container_Menu .element_Menu nav ul li{
   
    padding:1.5em;
   
    font-size: 19px;
    font:bold;
}
.Container_Menu .element_Menu nav ul li a{
    align-self: center;
    text-decoration: none;
    position:relative;
    bottom:25px;
    font:bold;
    color:#0C4762;
    font-weight:800;
}
.Container_Menu .element_Menu nav ul li a:hover{

    background-color: #7AC7C4;
    border:2px;
    border-style: dotted;
    outline:solid;
    outline-color:#3E31AE ;

}

.container .element_Main{
    display:flex;
    flex-direction:row;
    align-content: flex-start;
    text-align: center;
    justify-content: space-around;
    width:97%;
    height:500px;
    background-color: #005082;
    margin:15px auto;
    flex-wrap: nowrap;
   
}

 .container .element_Main .content_image{

    align-self: flex-start;
    height:auto;
    right:0;
    position:relative;
 }
 .container .element_Main .content_image figure img{

  align-self: flex-start;
  position:relative;
  bottom:16px;
  right:41px;
  overflow: auto;
  
  
 }

 .container .element_Main .content_text p{
    align-self: center;
    color:powderblue;
    text-align:center;
    padding:1.2em;
    max-width: 100%;
    word-wrap: break-all;
    font-size:250%;
    font-weight: lighter  ;
    /* font-family: 'Great Vibes', cursive;  */
    font-family: 'Source Code Pro', monospace;
 }

 /* TRAVAUX PERSO */

 .container_travaux{
   
    width:98%;
    height:791px;
   margin:10px auto;
    background-color: #278EA5;
    /* display:grid;
   grid-auto-flow: column ;
   
   column-gap: 45px;
   justify-content: center; */
 }

 .container_travaux .Container_Bouton_Travaux{
    /* position:relative;
    bottom:0; */
    width:90%;
    height: 155px;
    opacity:.3;
    background-color:#005082 ;
    margin:15px auto;
    outline: 2px solid #EAEAEA;
    border:1px solid #005082;
    
 }
 section span h1{

    text-align:center;
    color:#3E31AE;
    font-size: 225%;
    font:bold;
    
    
 }
 .container_travaux .portfolio{
   
    width:290px;
    height:490px;
    background-color:#005082;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #000, 0px 0px 30px #777;
    position:relative;
   top:25%;
 }

 .button_scroll {
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #000, 0px 0px 30px #777;
    background-color: #005082;
    border: none;
    outline: none;
    cursor: pointer;
    color: powderblue;
    opacity: 1;
    
}

.button_scroll:hover{

    background-color: aliceblue;
    color: #005082;
}

.container_travaux .portfolio .image{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    text-align: left;
    align-items: flex-start;
    background-image: url("Images/portfolio.png");
    background-color:#fff;
    height:188px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
    border-radius: 5px; 
     box-shadow: 0px 0px 10px #000, 0px 0px 30px #777; 
     margin-bottom:2.8em;
}
.container_travaux .portfolio .portfolio_header span

{

    color:white;
    font-family: 'Source Code Pro', monospace;
    font:bold;
    font-size:17px;
    text-align: left;
    padding:2.5em;
    margin: 15px ;
    text-align: left;
    align-self: flex-start;
}
.container_travaux .portfolio .portfolio_header p{

    color:white;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    padding:2.5em;
    margin: 15px ;
    text-align: left;
    align-self: flex-start;
    font-style:justify  ;
    
}
.container_travaux .portfolio .bouton{
    font-family: 'Source Code Pro', monospace;
 width:50%;
 height:25px;
 font:bold;
    font-size:17px;
 background-color: #fff;
 text-align: center;
 align-self: center;
    
   position:relative;
   bottom:3px;
   left:50px;
    border: 1px  solid;
    border-radius:4px;
    cursor:pointer;

}
.container_travaux .portfolio .bouton:hover{

    background-color:#005082 ;
}
.container_travaux .portfolio .bouton a:hover{

    color:#fff;
}
.container_travaux .portfolio .bouton a{
    text-decoration: none;
  align-self: center;
}

  /* section span h1{

    width:100%;
    height:75px;
    background: silver;
    
    opacity: .5; */
    /* border: 1px solid;
    border-radius: 5px; */
    /* box-shadow: 0px 0px 10px #000, 0px 0px 30px #777;} */


 /* MEDIA QUERRIES  */
 @media(max-width:500px) {


    .container .element_Main{
        width:100%;

        display:flex;
        flex-direction:column;
        align-content: center;
        align-items: center;
        text-align: center;
        justify-content: center;
      flex-wrap: wrap;
    }
    .container .element_Main .content_image figure img{

       width:100%;
       height:auto;
      align-self: center;
     left:0;

        
       }
     
    .container .element_Main .content_text p
    {
       text-align: center;
        font-size:90%;
    }
     .container_travaux{

        display:flex;
        flex-direction: column;
        justify-content: center;
       align-content: center;
        text-align:center;
        align-items: center;
        
     }

     .container_travaux .portfolio .bouton{
      
       left:25%;
         
     }
     
    .button_scroll{


        width:65px;
        height:65px;
        clear:both;
       
    }
 }